* {
  transition: .3s;
  box-sizing: border-box;

}

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient( rgba(0,255,255,1) 50%, rgba(0,255,0,1), rgba(254,124,36,1));
  font-family: 'Ranchers', cursive;
  font-family: 'Baloo Da 2', cursive;
  width: 100%;
  height: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.header-logo .liam-header{
  box-sizing: border-box;
  width: 100vw;
  padding: 5vw;
  align-content: center;
}


/* Navbar */

.main-nav {
  vertical-align: middle;
  display: inline-block;
  width:10vw;
  height:45px;
  position:fixed;
  background: transparent;
  text-decoration: none;
  -webkit-transform-origin: left top;
  -webkit-moz-transform-origin: left top;
  -webkit-ms-transform-origin: left top;
  -webkit-o-transform-origin: left top;
  z-index: 10;
  opacity: 1;
}

.main-nav-guy img {
  position: absolute;
  z-index: 11;
}

.main-nav-guy img:hover {
  transform: rotate(-15deg) translate(-10%);
}

ul.nav li {
  margin-right: 40px;
  margin-left: 40px;
  padding: 1rem;
  float: left;
  list-style-type: none;
  height: 100%;
  line-height: 45px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-family: "Ranchers", cursive;
}

/* PopUp Menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  overflow: auto;
  white-space: nowrap;
}

.overlay a {
  padding: 18px;
  text-decoration: none;
  font-size: 80px;
  font-family: "Ranchers", cursive;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Image Gallery */

.row {
}

.pContent {
  background-color: transparent;
  min-height: 100%;
  max-width: 100vw;
}

.wagon-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 15px;
}

.wagon {
  max-width: 20vw;
  max-height: inherit;
  display: block;
}

.col {
  z-index: 2;
  line-height: 0;
}

.col img {
  position: relative;
  height: 550px;
  width: 600px;
  margin: 2rem;
  object-fit: cover;
  filter: brightness(1);
  border-radius: 2%;
}

 .col img:hover {
  filter: brightness(1.2);
  border-radius: 50%;
  transform: translateY(-5px);
}

.image-trigger {
  position: relative;
}

.image-title {
position: absolute;
display: fit-content;
top: 50%;
bottom: 50%;
left: 0px;
right: 0px;
margin: auto;
height: 50px;
width: 400px;
color: #fff;
font-family: 'Ranchers', cursive;
font-size: 3rem;
letter-spacing: .2rem;
opacity: 0;
}

.image-title:hover {
opacity: 1;
}

.clouds {
  overflow: hidden;
  position: absolute;
}

.cloud {
  padding: 150px 0;
}

.stagger {
  transform: translateX(500px);
}

.clouds-1 {
  transform: translate(50px, 50px);
}

.clouds-2 {
  transform: rotateX(180deg);
margin-top: 50px;
}

/* Lightbox */
.slide {
  display: inline;
  margin: 15px;
}

.slide-image {
  width: 40%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
body {
    flex; 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .slide-image {
    width: 55%;
  }


}

/* Loading Image

.pSection {
  /* padding: 3% 27%;
  /*height: 550px;*/
  /*position: static;
  background-color: #00FFFF;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.baselayer {
  padding: 2% 0;
position: absolute;
}

.layer {
  padding: 2% 0;
position: absolute;
}
*/
